* {
    box-sizing: border-box;
}


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

a {
    color: $link;
    &:hover {
        color: $hover;
    }
}

h1, .h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
}

.max-width-5 {
    max-width: 75rem;
}

.blue-text {
    color: $blue-text;
    text-transform: uppercase;
    letter-spacing: 0.75px;
}

.line-height {
    line-height: 1.5em;
    letter-spacing: 0.04em;
}