nav {
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 20;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  li {
    text-transform: uppercase;
    margin: 20px 10px;
    cursor: pointer;
    a {
      color: #475760;
      text-decoration: none;
      font-size: 15px;
    }
  }
}

.dot {
  width: 17px;
  height: 17px;
  display: block;
  border-radius: 25px;
  border: 2px solid $dot;
  float: left;
  margin-right: 10px;
  margin-top: 2px;
}

.active {
  a {
    color: $dot;
  }
  .dot {
    background-color: $dot;
  }
}

