.panel {
  position: relative;
}
.panel-one, .panel-three, .panel-five {
  &:after {
    content: '';
    position: absolute;
    top: -93px;
    left: 0;
    width: 100%;
    background-image: url('/build/images/angles_1-01.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 4;
    height: 95px;
    display: block;
  }
}
.panel-one {
  background: rgba(99,126,146,1);
  background: -moz-linear-gradient(top, rgba(99,126,146,1) 0%, rgba(99,126,146,1) 13%, rgba(99,126,146,1) 64%, rgba(87,100,111,1) 88%, rgba(82,89,96,1) 98%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(99,126,146,1)), color-stop(13%, rgba(99,126,146,1)), color-stop(64%, rgba(99,126,146,1)), color-stop(88%, rgba(87,100,111,1)), color-stop(98%, rgba(82,89,96,1)));
  background: -webkit-linear-gradient(top, rgba(99,126,146,1) 0%, rgba(99,126,146,1) 13%, rgba(99,126,146,1) 64%, rgba(87,100,111,1) 88%, rgba(82,89,96,1) 98%);
  background: -o-linear-gradient(top, rgba(99,126,146,1) 0%, rgba(99,126,146,1) 13%, rgba(99,126,146,1) 64%, rgba(87,100,111,1) 88%, rgba(82,89,96,1) 98%);
  background: -ms-linear-gradient(top, rgba(99,126,146,1) 0%, rgba(99,126,146,1) 13%, rgba(99,126,146,1) 64%, rgba(87,100,111,1) 88%, rgba(82,89,96,1) 98%);
  background: linear-gradient(to bottom, rgba(99,126,146,1) 0%, rgba(99,126,146,1) 13%, rgba(99,126,146,1) 64%, rgba(87,100,111,1) 88%, rgba(82,89,96,1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#637e92', endColorstr='#525960', GradientType=0 );
  color: $white;
  z-index: 6;
  &:after {
    top: auto;
    bottom: -2px;
  }
  @media (min-width: 52em) {
    padding-top: 4rem;
  }
}
.logo-wrap {
  @media (min-width: 52em) {
    margin-bottom: 4rem;
  }
}
.down-arrow {
  max-width: 45px;
  width: 100%;
}

.word-bg {
  img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: 20px solid $beige;
    border-top: 20px solid $beige;
  }
}

.img-move {
  background-image: url('/build/images/handshake-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -75px;
  width: 100%;
  height: 600px;
  z-index: -1;
  @media (min-width: 52em) {
    background-image: url('/build/images/handshake2.jpg');
    background-position-x: 80px;
    height: 800px;
  }
}

.word-copy-wrap {
  position: relative;
  width: 100%;
  margin-top: -19%;
  z-index: 4;
  background-color: $beige;
}

.panel-two, .panel-three, .panel-four, .panel-five {
    z-index: 3;
    background-color: beige;
}

.panel-three {
  background-color: #73B4C6;
  color: $white;
  min-height: 600px;
  padding-bottom: 7rem;
  @media (min-width: 52em) {
    background: url('/build/images/wedo.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 850px;
  }

    h2 {
      color: $white;
    }

    &:after {
      top: -3px;
      background-image: url('/build/images/angles_2-01.png');
    }

    &:before {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: 4;
      height: 95px;
      display: block;
    }
}

.panel-four {
  background-color: $beige;
  color: $white;    
}

.panel-five {
  line-height: 1.5em;
  background-color: $white;
  color: $contact-body-copy;
  &:after {
    background-image: url('/build/images/angles_3-01.png');
  }
  h2 {
    color: $slate;
  }
  p {
    margin: 0;
  }
}