$beige: #efe2dc;
$white: #ffffff;
$blue-gray: #686c71;
$brown-gray: #3d3935;
$caramel: #9d6f3c;
$link: #0078a7;
$hover: #00263a;
$slate: #637f92;
$contact-body-copy: #002539;
$dot: #3d4b56;

@mixin transform($var...) {
    -webkit-transform: $var;
    -moz-transform: $var;
    -ms-transform: $var;
    -o-transform: $var;
    transform: $var;
}

@mixin transition($var...){
  -webkit-transition: $var;
  -moz-transition: $var;
  -ms-transition: $var;
  -o-transition: $var;
  transition: $var;
}